<h1>Hello!</h1>
<p class="lead">
    The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970.
</p>
<p>
    The "game" is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input.
    One interacts with the Game of Life by creating an initial configuration and observing how it evolves, or, for advanced "players", by creating patterns with particular properties.
</p>
<p><a (click)="newConfiguration()">Create your own game</a></p>