<div id="wrapper">
    <h4>{{isEditMode? name: "New Configuration"}}</h4>
    <p *ngIf="isEditMode">{{description}}</p>
    <canvas (mousedown)="onCanvasMouseDown($event)"
            (mouseup)="onCanvasMouseUp()"
            (mouseleave)="onCanvasMouseUp()"
            (mousemove)="onCanvasMouseMove($event)"
            #canvas width="901" height="433"></canvas>

    <div class="cl">&nbsp;</div>
    <div class="box">
        <div class="subtitle">Running Information</div>
        <p class="info">
            <abbr title="Current Generation">Generation</abbr>: <span>{{generation}}</span> |
            <abbr title="Number of live cells">Live cells</abbr>: <span >{{liveCells}}</span> |
            <abbr title="Execution times: Algorithm / Canvas (Algorithm / Canvas Averages)">Step time</abbr>: <span>{{stepTime}}</span> ms </p>
    </div>

    <div class="box controls">
        <div class="subtitle">Controls</div>
        <form action="">
            <input (click)="run()" type="button" [value]="!isRunning?'Run':'Stop'" title="Key: R">
            <input type="button" (click)="step()" value="Step" title="Key: S">
            <input type="button" (click)="clearAll()"  value="Clear" title="Key: C">
            <input type="button" value="Export" id="buttonExport">
            <span id="exportUrl"> | <a id="exportUrlLink">Link</a> | <a id="exportTinyUrlLink" title="Tiny URL">Create micro URL</a></span>
        </form>
    </div>

    <div (click)="saveConfiguration()" class="btn btn-primary">Save</div>

    <div class="box layout">
        <div class="subtitle">Layout</div>
            <input (click)="switchTrail()" type="button" value="Trail">
            <input (click)="switchGrid()" type="button" id="buttonGrid" value="Grid">
            <input (click)="switchColors()" type="button" id="buttonColors" value="Colors">
            <span id="layoutMessages"></span>
    </div>

</div>